= form_for @user do |f|
  -if @user.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  
  .field
    .label-container
      = f.label "email"
      %span.red-asterisk *(this will be used for your login)
    = f.text_field :email
  .field
    .label-container
      = f.label "password"
      %span.red-asterisk *
    = f.password_field :password
  .field
    .label-container
      = f.label "password confirmation"
      %span.red-asterisk *
    = f.password_field :password_confirmation
  .field
    .label-container
      = f.label "first name"
      %span.red-asterisk *
    = f.text_field :first_name
  .field
    .label-container= f.label :middle_name
    = f.text_field :middle_name
  .field
    .label-container
      = f.label "last name"
      %span.red-asterisk *
    = f.text_field :last_name
  .field
    .label-container
      = f.label "gender"
      %span.red-asterisk *
    = f.select :gender, ["male", "female"]
  .field
    .label-container= f.label :age_group
    = f.select :age_group, ["", "18-21", "22-25", "26-30", "31-35", "36-40", "41+"]
  .field
    .label-container= f.label :cellphone_number
    = f.text_field :cellphone_number
  .field
    .label-container= f.label :home_phone_number
    = f.text_field :homephone_number
  .field
    .label-container= f.label :work_phone_number
    = f.text_field :workphone_number
  .field
    .label-container= f.label :street_address
    = f.text_field :street_address
  .field
    .label-container= f.label :city
    = f.text_field :city
  .field
    .label-container= f.label :state
    = f.text_field :state
  .field
    .label-container= f.label :zip_code
    = f.text_field :zip_code
  .field
    .label-container= f.label :undergraduate_school
    = f.text_field :undergrad_school
  .field
    .label-container= f.label :undergraduate_major
    = f.text_field :undergrad_major
  .field
    .label-container= f.label :graduate_school
    = f.text_field :graduate_school
  .field
    .label-container= f.label :graduate_major
    = f.text_field :graduate_major
  .field
    .label-container= f.label :other_degrees
    = f.text_field :other_degrees
  .field
    .label-container= f.label "What Industry/Field are you in?"
    = f.text_field :industry_field
  .field
    .label-container= f.label "Name of Company you work for?"
    = f.text_field :company_name
  .field
    .label-container= f.label "What's your Title/Position/Job Function"
    = f.text_field :title_position_function
  .field
    .label-container= f.label "Years of Experience In Your Field"
    = f.select :years_experience, options_for_select(["0-2", "3-5", "6-8", "9+"], @user.years_experience), {:include_blank => ""}
  .field
    .label-container= f.label "What areas of TAP are you interested in getting involved with?"
    .areas-of-interest
      %input.interest#community-service{ :type=>"checkbox", :name => "Community Service", :value => 1 }Community Service
    .areas-of-interest
      %input.interest#cultural{ :type=>"checkbox", :name => "Cultural", :value => 1 }Cultural
    .areas-of-interest
      %input.interest#dinner-group{ :type=>"checkbox", :name => "Dinner Group", :value => 1 }Dinner Group
    .areas-of-interest
      %input.interest#leadership{ :type=>"checkbox", :name => "Leadership", :value => 1 }Leadership
    .areas-of-interest
      %input.interest#professional{ :type=>"checkbox", :name => "Professional", :value => 1 }Professional
    .areas-of-interest
      %input.interest#social{ :type=>"checkbox", :name => "Social", :value => 1 }Social
    .areas-of-interest
      %input.interest#other{ :type=>"checkbox", :name => "Other", :value => 1 }Other:
      %input.interest-text{ :type => "text", :name => "Areas of Interest"}
  .field{ :style => "display: none"}
    .label-container= f.label "areas of interest test"
    = f.text_field :areas_of_interest
  .field
    .label-container= f.label "What other community organizations are you a member of?"
    = f.text_field :other_community_organizations
  .field
    .label-container= f.label "Interested in becoming a mentor?"
    = f.select :potential_mentor, options_for_select([["Yes", true], ["No", false]], @user.potential_mentor), {:include_blank => ""}
  .field
    .label-container= f.label "Interested in becoming a mentee?"
    = f.select :potential_mentee, options_for_select([["Yes", true], ["No", false]], @user.potential_mentee), {:include_blank => ""}
  .field
    .label-container= f.label "Interested in helping with college workshops and career panels?"
    = f.select :help_at_workshops_panels, options_for_select([["Yes", true], ["No", false]], @user.help_at_workshops_panels), {:include_blank => ""}
  .field
    .label-container
      = f.label "The following information will be included in the Networking Directory: Name, Email, Schools Attended, Work Industry, Company Name, and Postion. Do you want to be in the directory?"
      %span.red-asterisk *
    = f.select :opt_in_directory,                                             |
      options_for_select([                                                    |
        ["Yes, add me - I'd like to network with other TAP members!", true],  |
        ["No - I do not wish to be included in the directory...", false]      |
      ], @user.opt_in_directory),                                             |
      {:include_blank => ""}                                                  |
  .actions
    = f.submit 'Save'
