:javascript
  $(document).ready(function(){
    $('.user-paid').click(function() {
      var userId = this.id.split('-')[1];
      $.ajax({
        type: 'POST',
        url: 'users/toggle_paid',
        data: { userId: userId, checked: this.checked }
      });
    });
    
    $('.user-is-admin').click(function() {
      var userId = this.id.split('-')[1];
      $.ajax({
        type: 'POST',
        url: 'users/toggle_admin',
        data: { userId: userId, checked: this.checked }
      });
    });
  });


%h1 Registered Members
%br/

%table
  %tr
    %th First Name
    %th Last Name
    %th Email
    %th Admin?
    %th Paid?
    %th

  - @users.each do |user|
    %tr
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td
        %input.user-is-admin{ :id => "user-#{user.id}", :type => "checkbox", :checked => user.is_admin }
      %td
        %input.user-paid{ :id => "user-#{user.id}", :type => "checkbox", :checked => user.paid }
      %td= link_to 'Profile', edit_user_path(user)
      %td= button_to 'Delete User', user, :confirm => 'Are you absolutely sure?', :method => :delete

%br

= link_to 'New user', new_user_path
