%h1 Registered Members

%table
  %tr
    %th First Name
    %th Last Name
    %th Email
    %th Admin?
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= user.is_admin
      %td= link_to 'Profile', edit_user_path(user)
      %td= button_to 'Delete User', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New user', new_user_path
