#header
  #logo 
    = link_to 'Home', root_path
  #welcome
    %p
      - if current_user
        Logged in as
        = current_user.first_name
        = link_to 'Profile', edit_user_path(current_user)
        = link_to 'Logout', logout_path, :remote => true, :method => "DELETE", :id => "logout"
      - else
        = link_to 'Login', login_path
  #masthead
    %h1 TAP-SF: TAIWANESE AMERICAN PROFESSIONALS 
    %h2 SAN FRANCISCO
    
